html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');




.containerg{
	display: flex;
    height: 100vh;
    /* width: 100vw; */
    background-color: #060F1D;
   
  	
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #0B2443;
    border-radius: 0 20px 20px 0;
    height: 100vh;
    width: 296px;
    align-items: center;
}

.dash{
    display: flex;
    background-color: #060F1D;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#logo{
    margin-top: 53px;
    margin-left: 33px;
}

#line{
    margin-top: 53px;
}

.mainside{
    width: 100%;
    margin: 0;
    padding: 0;
}

li{
    margin-top: 40px;
    width: 100%;
    
}

.txt{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
}

.credits{
    color: white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    margin-top: 60vh;
}

.txt:hover{
    background-color: #060F1D;
    text-decoration: none;
    color: #FE7210;
}

#dashmockup{
    margin: 40px;
}